<div class="page-header" id="product-header">
    <div class="container">
        <h6>PRODUCTS</h6>
        <h1>Best solutions for your problems</h1>
    </div>
</div>
<div class="page-body-light">
    <div class="container heads-light">
        <h6 class="text-center">Recent Products</h6>
        <h2 class="text-center">Our Latest Solutions</h2>
        <p class="text-center m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis
            molestie, dictum est a, mattis
            tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.</p>
    </div>
    <div class="container row products">
        <div class="col-6 d-flex flex-column justify-content-between" style="background: url('assets/product_1_bg.png'); background-position: center;
            background-size: cover;">
            <div>
                <h3>AIQUM</h3>
                <h5>29 October 2022</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis
                molestie, dictum est a, mattis
                tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.</p>
            <button data-aos="fade-up" data-aos-duration="600" routerLink="/aiqum">Learn More</button>
        </div>
        <div class="col-6 d-flex flex-column justify-content-between" style="background: url('assets/product_2_bg.png'); background-position: center;
            background-size: cover;">
            <div>
                <h3>CoreDB</h3>
                <h5>13 April 2022</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis
                molestie, dictum est a, mattis
                tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.</p>
            <button data-aos="fade-up" data-aos-duration="600">Learn More</button>
        </div>
    </div>
</div>