<nav class="navbar backdrop-header navbar-expand-lg navbar-dark animate__fadeInDown animate__animated">
    <div class="container">
        <a class="navbar-brand logo" routerLink="/home"><img src="assets/drl_logo.svg" alt=""
                width="130px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/home"
                        [routerLinkActive]="['active']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/services"
                        [routerLinkActive]="['active']">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/products"
                        [routerLinkActive]="['active']">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/news"
                        [routerLinkActive]="['active']">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/careers"
                        [routerLinkActive]="['active']">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/about"
                        [routerLinkActive]="['active']">About</a>
                </li>
                <li class="nav-item contact">
                    <a class="nav-link" (click)="toggleNavBar()">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>