<nav *ngIf="!showHeader('/aiqum')" class="navbar navbar-all backdrop-header navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand logo" routerLink="/home"><img src="assets/logo_drl.svg" alt="" width="130px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/home"
                        [routerLinkActive]="['active']">Home</a>
                </li>
                <!--   <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/services"
                        [routerLinkActive]="['active']">Services</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/home"
                        fragment="products">Products & Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/services"
                        [routerLinkActive]="['active']">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/careers"
                        [routerLinkActive]="['active']">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/news"
                        [routerLinkActive]="['active']">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/about"
                        [routerLinkActive]="['active']">About</a>
                </li>
                <li class="nav-item contact">
                    <a class="nav-link" (click)="toggleNavBar()" (click)="openLg(content)">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav *ngIf="showHeader('/aiqum')" class="navbar navbar-aiqum backdrop-header navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand logo" routerLink="/home"><img src="assets/drl_logo.svg" alt="" width="130px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/home"
                        [routerLinkActive]="['active']">Home</a>
                </li>
                <!--   <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/services"
                        [routerLinkActive]="['active']">Services</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/home"
                        fragment="products">Products & Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/services"
                        [routerLinkActive]="['active']">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/news"
                        [routerLinkActive]="['active']">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/careers"
                        [routerLinkActive]="['active']">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" (click)="toggleNavBar()" routerLink="/about"
                        [routerLinkActive]="['active']">About</a>
                </li>
                <li class="nav-item contact">
                    <a class="nav-link" (click)="toggleNavBar()" (click)="openLg(content)">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Contact Us</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            Thank you for your interest in DRL. Please provide the following details along with your message so we may
            appropriately assist you.
        </p>
        <form action="" method="POST">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="First Name" required>
                    <div class="underline"></div>
                    <label for="">First Name</label>
                </div>
                <div class="input-data">
                    <input type="text" name="Last Name" required>
                    <div class="underline"></div>
                    <label for="">Last Name</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="email" name="Email" required>
                    <div class="underline"></div>
                    <label for="">Email Address</label>
                </div>
                <div class="input-data">
                    <input type="phone" name="phone" required>
                    <div class="underline"></div>
                    <label for="">Phone Number</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data textarea">
                    <textarea rows="8" cols="80" name="message" required></textarea>
                    <br />
                    <div class="underline"></div>
                    <label for="">Write your message</label>
                    <br />
                </div>
            </div>
            <div class="button-submit">
                <button><input class="submit" type="submit" value="Submit"></button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>