/* .apply {
    background: linear-gradient(91.64deg, #0085FF -0.76%, #0085FF 99.99%, #40A4FF 100%);
}

.copyright {
    text-align: center;
    background: linear-gradient(91.64deg, #0085FF -0.76%, #0085FF 99.99%, #40A4FF 100%) !important;
    color: var(--white);
    padding: 15px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
}

.footer {
    background: var(--dark-bg);
    color: var(--white);
    padding: 50px 0;

    .footer-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;

            li {
                margin: 0 20px;
                cursor: pointer;
            }
        }

        .socials {
            img {
                margin: 0 15px;
            }
        }
    }

}

.apply {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    color: var(--white);

    h1 {
        font-weight: 500;
        font-size: 50px;
        line-height: 61px;
        opacity: 0.8;
    }

    h2 {
        font-weight: 500;
        font-size: 55px;
        line-height: 67px;
        opacity: .8;

        a {
            color: var(--white);
            text-decoration: none;
        }
    }

    h2:hover {
        opacity: 1;
    }
} */


footer {
    background: var(--white);

    h6 {
        font-weight: 700;
        font-size: 16px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            font-weight: 500;
            font-size: 12px;
            color: #818181;
            padding-bottom: 10px;
            cursor: pointer;
        }
    }

    .breaking-line {
        height: 2px;
        background: #EFEFEF;
    }

    .text-right {
        h5 {
            float: right;
        }
    }
    .line-bottom {
        margin-top: 30px;
    }

    .copyright {
        padding: 20px 0;
        h5 {
            font-size: 12px;
            color: #818181;
        }
        span {
            color: var(--primary);
        }
    }
}

.links li:hover {
    color: var(--primary);
}

@media (max-width: 991px) {
    .text-right {
        h5 {
            float: none !important;
        }
    }

    .links, .contacts {
        margin: 20px 0;
    }
}

svg {
  fill: #818181;
  transition: all .2s linear;
}

svg:hover {
  fill: var(--primary) !important;
}
