<div class="apply">
    <div class="container">
        <h1>We are always looking for talented and bright
            brains.</h1>
        <h2><a>Get in touch.</a></h2>
    </div>
</div>
<div class="footer">
    <div class="container footer-items">
        <img src="assets/drl_logo.svg" alt="Logo">
        <ul>
            <li>Home</li>
            <li>Services</li>
            <li>Products</li>
            <li>News</li>
            <li>Careers</li>
            <li>About</li>
        </ul>
        <div class="socials">
            <img src="assets/Instagram.svg" alt="">
            <img src="assets/Facebook.svg" alt="">
            <img src="assets/LinkedIn.svg" alt="">
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <label>Copyright © 2022 DRL. All rights reserved</label>
    </div>
</div>