<div class="footer">
    <div class="container footer-items">
        <img src="assets/drl_logo.svg" alt="Logo">
        <ul>
            <li routerLink="/home">Home</li>
            <li routerLink="/products">Products</li>
            <li routerLink="/services">Services</li>
            <li routerLink="/news">News</li>
            <li routerLink="/careers">Careers</li>
            <li routerLink="/about">About</li>
            <li>Contact Us</li>
        </ul>
        <div class="socials">
            <img src="assets/Instagram.svg" alt="">
            <img src="assets/Facebook.svg" alt="">
            <img src="assets/LinkedIn.svg" alt="">
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <label>Copyright © 2022 DRL. All rights reserved</label>
    </div>
</div>