<div class="page-header" id="service-header">
    <div class="container">
        <h6>SERVICES</h6>
        <h1>Solving problems in different fields</h1>
    </div>
</div>
<div class="page-body-light">
    <div class="container heads-light" data-aos="fade-up" data-aos-duration="600">
        <h6 class="text-center">Who We Are</h6>
        <h2 class="text-center">We are the experts of digital research</h2>
    </div>
    <!--  <div class="container accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <img src="assets/analytics.svg" height="35px" alt="">&nbsp;&nbsp;&nbsp;Analytics and Insight
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <h6><strong>Global Flight Data Dashboard</strong></h6>
                    <p>Created all necessary data pipelines (deployed in Azure) that enables daily acquisition of data
                        from
                        the data provider followed by transformation and reporting to the end users via the custom and
                        interactive Power BI dashboards. Custom transformations quality controls the received data and
                        derives necessary insights that serves as inputs to the customer's prediction models.</p>
                    <h6><strong>Energy Data Dashboard</strong></h6>
                    <p>Developed both Azure based and local pipelines that acquire data from numerous sources including
                        data
                        provider APIs and scrapped public information. All gathered information is quality controlled
                        and
                        transformed to a desired input for the customer's daily energy balance monitoring dashboards.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <img src="assets/automation.svg" height="35px" alt="">&nbsp;&nbsp;&nbsp;Automation and AI
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <h6><strong>Automatic Detection Injection Induced Fracture Events in water injectors</strong></h6>
                    <p>Fully automated fracture detection logic developed collaboratively with industry specialist and
                        our
                        team. Based in the customer's in-house platform that allows automatic alerting when new
                        fractures
                        detected.</p>
                    <h6><strong>Digital PE- Auto Well Test</strong></h6>
                    <p>Fully automated web platform where al well test results in a single location. Custom logic-based
                        decision making and well test matching algorithm that automatically detects, quality checks,
                        matches
                        and reports new well tests. Enabled efficient well performance monitoring and anomaly detection
                        in
                        the performance of wells. Allowed significant reduction in time and effort spent by PE community
                        on
                        handling well tests.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <img src="assets/enterprise.svg" height="35px" alt="">&nbsp;&nbsp;&nbsp;Enterprise Applications
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <h6><strong>CoreDB (Making Data available for Everyone)</strong></h6>
                    <p>A fully automated web-based application with a user-friendly user interface where all the
                        customer's
                        core data base resides.</p>
                    
                    <button>Go To Product</button>
                    <h6><strong>Expense Management App</strong></h6>
                    <p>Developed a custom web-based expense management application that allows user to manage their
                        receipts, expenses and travel requisition both on their mobile/desktop without need for signing
                        to
                        the ERP system used by the customer. The application is able to send and receive information
                        from
                        the ERP system allowing full integration between the users and finance admin team.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
    <div class="accordion container" id="accordionPanelsStayOpenExample" data-aos="fade-up" data-aos-duration="600">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    <img src="assets/analytics.svg" height="75px" alt="">&nbsp;&nbsp;&nbsp;Analytics and Insight
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <p>We analyze data to uncover new, game-changing insights for you to be bigger, better and
                        different.</p>
                    <h6><strong>Global Flight Data Dashboard</strong></h6>
                    <p>Created all necessary data pipelines (deployed in Azure) that enables daily acquisition of data
                        from
                        the data provider followed by transformation and reporting to the end users via the custom and
                        interactive Power BI dashboards. Custom transformations quality controls the received data and
                        derives necessary insights that serves as inputs to the customer's prediction models.</p>
                    <h6><strong>Energy Data Dashboard</strong></h6>
                    <p>Developed both Azure based and local pipelines that acquire data from numerous sources including
                        data
                        provider APIs and scrapped public information. All gathered information is quality controlled
                        and
                        transformed to a desired input for the customer's daily energy balance monitoring dashboards.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    <img src="assets/automation.svg" height="75px" alt="">&nbsp;&nbsp;&nbsp;Automation and AI
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <p>You may rethink processes, boost growth, and lead transformation with the help of our Automation
                        and AI services.</p>
                    <h6><strong>Automatic Detection Injection Induced Fracture Events in water injectors</strong></h6>
                    <p>Fully automated fracture detection logic developed collaboratively with industry specialist and
                        our
                        team. Based in the customer's in-house platform that allows automatic alerting when new
                        fractures
                        detected.</p>
                    <h6><strong>Digital PE- Auto Well Test</strong></h6>
                    <p>Fully automated web platform where al well test results in a single location. Custom logic-based
                        decision making and well test matching algorithm that automatically detects, quality checks,
                        matches
                        and reports new well tests. Enabled efficient well performance monitoring and anomaly detection
                        in
                        the performance of wells. Allowed significant reduction in time and effort spent by PE community
                        on
                        handling well tests.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    <img src="assets/enterprise.svg" height="75px" alt="">&nbsp;&nbsp;&nbsp;Enterprise Applications
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <p>Bring us your toughest challenge, we have the tools and teams to transform your needs into
                        solutions.</p>
                    <h6><strong>CoreDB (Making Data available for Everyone)</strong></h6>
                    <p>A fully automated web-based application with a user-friendly user interface where all the
                        customer's core data base resides.</p>
                    <div routerLink="/about" class="read-more">
                        <a>Go to product</a>
                        <div class="button-line"></div>
                    </div>
                    <h6><strong>Expense Management App</strong></h6>
                    <p>Developed a custom web-based expense management application that allows user to manage their
                        receipts, expenses and travel requisition both on their mobile/desktop without need for signing
                        to
                        the ERP system used by the customer. The application is able to send and receive information
                        from
                        the ERP system allowing full integration between the users and finance admin team.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <app-apply></app-apply>