<div class="partners container">
    <img src="assets/partners/sdf.png" alt="">
    <img src="assets/partners/aioc.png" alt="">
    <img src="assets/partners/spe.png" alt="">
    <img src="assets/partners/socar.png" alt="">
    <img src="assets/partners/bp.png" alt="">
    <img src="assets/partners/khazar.png" alt="">
    <img src="assets/partners/agrodairy.png" alt="">
</div>
<div class="container section-heading-light">
    <h6 data-aos="fade-up" data-aos-duration="600">About</h6>
    <h2 data-aos="fade-up" data-aos-duration="600">Who We Are</h2>
    <p data-aos="fade-up" data-aos-duration="600">Digital Research Lab is a progressive R&D center that help our
        partners to realize ideas and transform their companies by creating digital solutions with engineering ingenuity
        and innovative digital skills.</p>
</div>
<div class="about container">
    <div class="about-caption" data-aos="fade-up" data-aos-duration="1000">
        <h3>Digital<br>Research Lab</h3>
        <p>We are a progressive R&D center that help our partners to realize ideas and transform their companies by
            creating digital solutions with engineering ingenuity and innovative digital skills.</p>
        <div class="read-more">
            <a routerLink="/about">READ MORE</a>
            <div class="button-line"></div>
        </div>
    </div>
    <img data-aos="fade-up" data-aos-duration="600" src="assets/about_home.png" alt="">
</div>