<div class="page-header" id="news-header">
    <div class="container">
        <h6>NEWS</h6>
        <h1> Our latest news, stories, and archives from across the business</h1>
    </div>
</div>
<div class="page-body-dark">
    <div class="container news pt-5" data-aos="fade-up" data-aos-duration="600">
        <div class="news-search col-12 pb-3">
            <input class="search-field" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="Search news"><i class="fa fa-search"></i>
        </div>
        <div class="row news-cards">
            <div class="col-12 col-lg-4 news-card" data-aos="fade-up" data-aos-duration="600"
                *ngFor="let item of news | filter: searchText | paginate: {itemsPerPage: 6, currentPage: p}">
                <img src="{{ item.cover }}" alt="">
                <div class="news-caption">
                    <h6>{{ item.date }}</h6>
                    <h3>{{ item.title }}
                    </h3>
                    <div routerLink="/news/{{ item.id }}" class="read-more">
                        <a>Read More</a>
                        <div class="button-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls class="text-center mt-3" (pageChange)="onPageChange($event)" previousLabel="<"
            nextLabel=">" data-aos="fade-up" data-aos-duration="600"></pagination-controls>
    </div>
</div>
<app-apply></app-apply>