<video id="bgvid" playsinline autoplay [muted]="true" loop src="assets/videos/drl_bg.webm">
    <source src="assets/videos/drl_bg.webm" type="video/mp4">
</video>
<section id="main" class="container">
    <div style="height: 10px;"></div>
    <div>
        <h3>Latest Product</h3>
        <h1 data-aos="fade-up" data-aos-duration="600">AIQUM</h1>
        <p data-aos="fade-up" data-aos-duration="600">Realtime Intelligent Sand Detection & Quantification Solution</p>
        <button data-aos="fade-up" data-aos-duration="600" routerLink="/aiqum">Learn More</button>
    </div>
    <div class="scroll-down" (click)="scrollToElement(about)">
        <div class="d-flex flex-row justify-content-center">
            <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21.25 11V26C21.25 31.6609 16.6609 36.25 11 36.25C5.33908 36.25 0.75 31.6609 0.75 26V11C0.75 5.33908 5.33908 0.75 11 0.75C16.6609 0.75 21.25 5.33908 21.25 11Z"
                    stroke="#F7A325" stroke-width="1.5" />
                <circle cx="11" cy="10" r="5" fill="#F7A325" />
            </svg>
            <div>
                <h5>Discover Our Products and Services</h5>
                <h6>Scroll Down</h6>
            </div>
        </div>
    </div>
</section>
<section #about id="about">
    <app-about></app-about>
</section>
<section id="services">
    <app-services></app-services>
</section>
<section id="products">
    <app-products></app-products>
</section>
<section id="news">
    <app-news></app-news>
</section>
<section id="sponsors">
    <app-sponsors></app-sponsors>
</section>
<app-apply></app-apply>