/* img {
    width: 100%;
} */

.challenge {
    font-weight: 700;
    font-size: 35px;
    background: linear-gradient(91.5deg, #F6907E 0%, #F7A325 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



h6 {
    color: var(--primary);
    padding-top: 30px;
}

#technologies {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        max-height: 75px;
        width: auto;
        margin: 20px 0;
    }
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 164%;
    margin: auto;
}

.slider {
    img {
        width: 100%;
    }
}

::ng-deep .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F7A325'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

::ng-deep .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F7A325'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

/* ::ng-deep .carousel-indicators button {
    background: var(--primary) !important;
    height: 3px !important;
} */

.solution {
    background: var(--dark-bg);

    h2 {
        font-weight: 700;
        font-size: 35px;
        background: linear-gradient(91.5deg, #F6907E 0%, #F7A325 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    p {
        color: var(--white);

        span {
            color: #64CE91;
        }
    }

}

.work-with-us {
    button {
        display: grid;
        margin: auto;
        margin-top: 50px;
        padding: 20px 48px;
        background: #efefef;
        border: none;
        outline: none;
        cursor: pointer;
        color: var(--primary);
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
    }
    
    button:hover {
        transition: all .2s linear;
        background: var(--dark-bg);
        color: var(--primary);
    }

    h3 {
        text-transform: uppercase;

        span {
            color: var(--primary);
        }
    }
}
