<div class="page-body-dark" style="color: var(--white)">
    <div class="container pt-3 m-auto">
        <div class="slider">
            <ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
                (slide)="onSlide($event)">
                <ng-template ngbSlide *ngFor="let img of images; index as i">
                    <div class="picsum-img-wrapper">
                        <img [src]="img" alt="My image {{i + 1}} description" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <h6>Core DB</h6>
        <h3>Making data available for everyone</h3>
        <div id="technologies">
            <img src="assets/technologies/python.svg" alt="" height="60px" style="margin-right: 30px;">
            <img src="assets/technologies/django.svg" alt="" height="60px" style="margin-right: 30px;">
            <img src="assets/technologies/react.svg" alt="" height="60px" style="margin-right: 0px;">
            <img src="assets/technologies/azure.png" alt="" >
        </div>
        <p>Core data plays an essential role in the decision-making process at different stages of the field development
            starting from the early exploration and appraisal phase through the entire extent of the development. The
            presence of readily available, sorted, QC-ed and unified core measurements can boost the efficiency during
            the
            key decision-making points such as reserve re-evaluation, new well delivery, lower completion selection as
            well
            as aid subject matter experts during the reservoir related studies and research.
            <br><br>
            The customers problem was that the available core data is stored in an unstructured manner with no
            conventional
            naming practices scattered across the numerous folders of different technical personnel. Hence,
            unavailability
            of an integrated database created additional effort and inefficiency of pre-conditioning, sorting and manual
            transfer of required data between different disciplines, which was diminishing the potential value that core
            data could bring in.
            <br><br>
            The purpose of the project was to come up with a well-sorted and fully standardized core database that
            provides
            users with multiple functionalities including but not limited to smart search, multi-filtering,
            visualization,
            access through commonly used industry software. A fully automated web-based application with a user-friendly
            user interface was developed and deployed on the customer's servers. The application comprises several pages
            dedicated for each data type as well as a separate admin functionality that will enable subject matter data
            managers to maintain the database. Alongside the development of the web application, our team processed and
            QC-ed all reports and partially QC source lab measurements, digitize pdf files where needed, combine and
            clean
            excel sheets, extract necessary images from lab reports and organize the database structure through close
            collaboration with the customer's core experts.
        </p>
    </div>
</div>
<app-apply></app-apply>