<div class="page-header" id="about-header">
    <div class="container">
        <h6>ABOUT US</h6>
        <h1>Your partner in digital transformation for Industry 4.0.</h1>
    </div>
</div>
<div class="page-body-light">
    <div class="container heads-light" data-aos="fade-up" data-aos-duration="600">
        <h6 class="text-center">Who We Are</h6>
        <h2 class="text-center">Digital transformation ally</h2>
    </div>
    <div class="container row m-auto about-us" data-aos="fade-up" data-aos-duration="600">
        <p class="text-left col-lg-6 col-12 m-auto">
            Digital Research Lab is a progressive R&D center that helps its partners realize ideas and transform their
            companies by creating digital solutions with engineering ingenuity and innovative digital skills.
            <br><br>
            We are thriving to become the leading digital enabler and an architect of digital transformation in the
            region by solving engineering and R&D problems that will empower organizations to sustain, expand, and
            diversify their market access or public impact. We work with key actors of the country in the Energy sector.
        </p>
        <img class="col-lg-6 col-12 mt-3 mb-3" src="assets/about.jpg" alt="">
        <!-- <p class="text-left col-lg-6 col-12 m-auto" data-aos="fade-up" data-aos-duration="600">
            <b style="font-size: 24px;">Why do you need <span style="color: var(--primary);">Digital
                    Transformation</span>?</b><br><br>
            <b>•</b> Go beyond simply eliminating repetitive tasks, but via digital solutions unlock the full potential
            of your
            resources and processes.<br><br>
            <b>•</b> Gain unique insights into your operations and customers, enhance your business strategy through an
            intelligent and data driven approach.<br><br>

        </p>
        <p class="text-left col-lg-6 col-12 m-auto" data-aos="fade-up" data-aos-duration="600">
            <b>•</b> Stay relevant today and be prepared for tomorrow with digital products and processing
            power.<br><br>
            <b>•</b> Re-invent the way end users experience your products or services.

        </p> -->
    </div>
    <div class="container heads-light mt-5 industry" data-aos="fade-up" data-aos-duration="600">
        <h2 class="text-center">Industry <span style="color: var(--primary);">4.0</span></h2>
        <p class="text-center" style="max-width:none; padding:10px 50px 30px 50px">
            Industry 4.0 is revolutionizing the way companies manufacture, improve and distribute their products.
            Leading manufacturers are now realizing significant value from data and analytics, AI, and machine learning
            (ML) and pulling ahead in their efforts to implement Industry 4.0 across their manufacturing networks.
            Companies at the front are capturing benefits across the entire manufacturing value chain.
            <br><br>
            Industry 4.0 concepts and technologies can be applied across all types of industrial companies, including
            discrete and process manufacturing, as well as oil and gas, mining and other industrial segments.
        </p>
        <div id="buttons">
            <div class="button">
                <p>Unlock the full potential of your resources and processes via digital solutions</p>
            </div>
            <div class="button">
                <p>Gain unique insights into your operations and customers</p>
            </div>
            <div class="button">
                <p>Stay relevant today and be prepared for tomorrow with digital products and processing power</p>
            </div>
            <div class="button">
                <p>Re-invent the way end users experience your products or services</p>
            </div>
        </div>
    </div>

    <div class="container heads-light" data-aos="fade-up" data-aos-duration="600">
        <h6 class="text-center">Our People</h6>
        <h2 class="text-center">Meet the team</h2>
    </div>
    <div class="team container row m-auto">
        <div class="team-card col-12 col-md-6 col-lg-4" *ngFor="let member of team" data-aos="fade-up"
            data-aos-duration="600">
            <div class="profile">
                <div class="normal">
                    <img src="{{ member.cover }}" alt="">
                </div>
                <div class="hovered">
                    <img src="{{ member.cover2 }}" alt="">
                </div>
            </div>
            <h3>{{ member.name }}</h3>
            <h6>{{ member.position }}</h6>
            <div class="d-flex flex-row justify-content-center align-items-center profile-link"
                (click)="navigateTo(member.link)">
                <svg width="15" height="15" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M18.5714 0H1.42411C0.638393 0 0 0.647322 0 1.44196V18.558C0 19.3527 0.638393 20 1.42411 20H18.5714C19.3571 20 20 19.3527 20 18.558V1.44196C20 0.647322 19.3571 0 18.5714 0ZM3.08036 17.1429V7.59821H6.04911V17.1429H3.08036ZM4.5625 6.29464C3.61161 6.29464 2.84375 5.52232 2.84375 4.57589C2.84375 3.62946 3.61161 2.85714 4.5625 2.85714C5.50893 2.85714 6.28125 3.62946 6.28125 4.57589C6.28125 5.52679 5.51339 6.29464 4.5625 6.29464ZM17.1562 17.1429H14.192V12.5C14.192 11.3929 14.1696 9.96875 12.6518 9.96875C11.1071 9.96875 10.8705 11.1741 10.8705 12.4196V17.1429H7.90625V7.59821H10.75V8.90179H10.7902C11.1875 8.15179 12.1563 7.36161 13.5982 7.36161C16.5982 7.36161 17.1562 9.33929 17.1562 11.9107V17.1429Z"
                        fill="#171717" />
                </svg>
                <h5>LinkedIn</h5>
            </div>
        </div>
    </div>
    <button routerLink="/careers">Join Our Team</button>
    <div class="container heads-light mt-5" data-aos="fade-up" data-aos-duration="600">
        <h6 class="text-center">What We Use</h6>
        <h2 class="text-center">Technologies</h2>
    </div>
    <div class="technologies container row m-auto" data-aos="fade-up" data-aos-duration="600">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/Angular.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/TypeScript.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/DotNet.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/NodeJs.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/Azure.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/SQL.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/.netcore.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/Bootstrap.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/Csharp.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/C++.svg">
        <img class="col-6 col-md-4 col-lg-2" src="assets/technologies/CSS.svg">
        <div *ngIf="showLogos == false" (click)="toggleLogos()" class="col-6 col-md-4 col-lg-2 load-more">Load More
        </div>
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/django.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/Figma.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/Git.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/GitHub.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/GitLab.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/HTML.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/Java.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/JavaScript.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/Keras.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/MaterialUI.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/PHP.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/PostgreSQL.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/python.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/react.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/ScikitLearn.svg">
        <img *ngIf="showLogos == true" class="col-6 col-md-4 col-lg-2" src="assets/technologies/TensorFlow.svg">
    </div>
    <div class="container heads-light mt-5" data-aos="fade-up" data-aos-duration="600">
        <h6 class="text-center">DRL Partners</h6>
        <h2 class="text-center">Clients and Stakeholder</h2>
    </div>
    <div class="container row m-auto mb-5">
        <img class="col-6 col-md-4 col-lg-3" src="assets/sponsors/Socar.svg">
        <img class="col-6 col-md-4 col-lg-3" src="assets/sponsors/BP.svg">
        <img class="col-6 col-md-4 col-lg-3" src="assets/sponsors/BSU.svg">
        <img class="col-6 col-md-4 col-lg-3" src="assets/sponsors/AIOC.svg">
    </div>
</div>
<app-apply></app-apply>