.about-us {
    p {
        line-height: 35px;
    }
}

.team {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;

    h3 {
        padding-top: 10px;
        font-size: 20px;
    }

    h6 {
        font-size: 14px;
        color: var(--primary);
    }

    img {
        width: 320px;

    }

    .team-card {
        margin: 20px 0;
    }
}

.profile {
    h5 {
        margin-bottom: 0;
        padding: 0 5px;
        font-size: 12px;
        color: #0072B1;
    }

    path {
        fill: #0072B1;
    }
}

.profile:hover {

    path {
        fill: var(--dark-bg);
    }

    h5 {
        color: var(--dark-bg);
    }

}

button {
    display: grid;
    margin: auto;
    margin-top: 50px;
    padding: 20px 48px;
    background: var(--primary);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
}

button:hover {
    transition: all .2s linear;
    background: var(--dark-bg);
    color: var(--primary);
}
