<app-header></app-header>
<!-- <div class="preloader" *ngIf="loader">
  <img src="assets/drl_preloader.svg" alt="" height="50px">
</div> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
<ngx-beautify-cursor
        [circleBackgroundColor]="'rgba(247, 163, 37, 0.3)'"
        [circleBorderColor]="'#F7A325'"
        [circleBorderSizePx]="1"
        [circleFollowDuration]="0.5"
        [circleSizePx]="40"
        [cursorHoldAnimationDuration]="0.25"
        [cursorHoldAnimationScaleDown]="0.8"
        [cursorHoverAnimationDuration]="0.4"
        [cursorHoverAnimationScaleUp]="1.5"
        [defaultCursor]="'none'"
        [dotColor]="'#F7A325'"
        [dotFollowDuration]="0"
        [dotSizeInPx]="8"
        [enableHoverAnimation]="true"
        [hideDotWhileHover]="true"
        [hoverAttributes]="['clickable', 'button', 'href']"
        [nParentsStyleCheck]="5"
        [zIndex]="999"
></ngx-beautify-cursor>