<div class="container section-heading-dark text-center">
    <h2 data-aos="fade-up" data-aos-duration="600">Latest News</h2>
    <p class="m-auto" data-aos="fade-up" data-aos-duration="600">Stay with us to keep up to date with DRL latest news and actual technologies in the world.</p>
</div>

<div class="container news">
    <div class="row justify-content-between">
        <div class="col-12 col-lg-6 news-card" data-aos="fade-up" data-aos-duration="600" *ngFor="let item of news | paginate: {itemsPerPage: 3, currentPage: p}">
            <img src="{{ item.cover }}" alt="">
            <div class="news-caption">
                <h6>{{ item.date }}</h6>
                <h3>{{ item.title }}
                </h3>
                <div routerLink="/news/{{ item.id }}" class="read-more">
                    <a>Read More</a>
                    <div class="button-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<button routerLink="/news">View All</button>