.news {

    >div>div {

        .news-caption {
            background: #1E1E1E;
            padding: 35px;
            padding-right: 0;
        }

        img {
            width: 100%;
            max-height: 350px;
        }

        h6 {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: var(--primary);
        }

        h3 {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            padding: 10px 0;
            color: var(--white);
        }


    }
}

.button-line {
    margin-top: 10px;
    width: 30px;
    height: 3px;
    background-color: var(--primary);
    transition: all .2s linear;
}

.read-more {
    a {
        color: var(--white);
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
    }
}

.read-more:hover {
    cursor: pointer;
    a {
        color: var(--primary);
    }

    .button-line {
        width: 68px;
    }
}

button {
    display: grid;
    margin: auto;
    margin-top: 50px;
    padding: 20px 48px;
    background: #1E1E1E;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primary);
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

button:hover {
    transition: all .5s linear;
    background: var(--primary);
    color: var(--dark-bg);
}
