<div class="container section-heading">
    <h2 data-aos="fade-up" data-aos-duration="600">Recent Products.</h2>
    <p data-aos="fade-up" data-aos-duration="600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
        vulputate libero et velit interdum,
        ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia.</p>
</div>
<div class="container products">
    <div class="row justify-content-between">
        <div class="col-5 product-card">
            <div id="product1" data-aos="fade-up" data-aos-duration="600">
                <div class="product-caption">
                    <div class="product-title">
                        <h5>AIQUM</h5>
                        <h6>16 April 2022</h6>
                    </div>
                </div>
            </div>
            <h4>Learn More</h4>
        </div>
        <div class="col-5 product-card">
            <div id="product2" data-aos="fade-up" data-aos-duration="600">
                <div class="product-caption">
                    <div class="product-title">
                        <h5>CoreDB</h5>
                        <h6>29 October 2022</h6>
                    </div>
                </div>
            </div>
            <h4>Learn More</h4>
        </div>
        <div class="col-2" id="product3" data-aos="fade-up" data-aos-duration="600">
            <div>
                <div class="circle">
                    <svg class="highlight" width="42" height="30" viewBox="0 0 42 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 15L41 15" stroke="#F7A325" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M27 1L41 15L27 29" stroke="#F7A325" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <h3>BROWSE ALL</h3>
            </div>
        </div>
    </div>
</div>