.section-heading>p {
    color: var(--dark-bg);
}

.products {
    color: var(--white);

    #product1,
    #product2 {
        height: 572px;
        max-width: 521px;
        padding: 50px;
        z-index: 20

        h5 {
            font-weight: 400;
            font-size: 26px;
            line-height: 34px;
        }

        h6 {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: var(--primary);
        }

        >div {
            height: 100%;
            max-width: 375px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .product-title {
            transform: translateY(400px);
            transition: all .5s ease-in-out;
        }
    }

    h4{
        color: var(--dark-bg);
        text-align: center;
        font-size: 16px;
        z-index: 19;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 20px;
        opacity: 0;
        transform: translateY(30px);
        transition: all .4s linear;
        cursor:  pointer;
    }

    .product-card:hover {

        cursor: pointer;

        h4 {
            opacity: 1;
            transform: translateY(0px);
        }

        h4:hover {
            color: var(--primary);
        }
    }

    #product3 {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;


        h3 {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            padding-top: 25px;
            color: #1E1E1E;
            transition: all 3s linear;
        }

        .circle {
            border: 2px solid var(--primary);
            padding: 35px 30px;
            border-radius: 100px;
            transition: all .3s linear;
            cursor: pointer;
        }
    }
}

.circle:hover {
    background: var(--primary);

    path{
        stroke: var(--white) 
    }
}

.button-line {
    margin-top: 10px;
    width: 30px;
    height: 3px;
    background-color: var(--primary);
    transition: all .2s linear;
}

.read-more {
    a {
        color: var(--white);
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
    }
}

.read-more:hover {
    a {
        color: var(--primary);
    }

    .button-line {
        width: 68px;
    }
}

button {
    display: grid;
    margin: auto;
    margin-top: 50px;
    padding: 20px 48px;
    background: #1E1E1E;
    border: none;
    outline: none;
    cursor: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

@keyframes product-hover {
    0% {
        transform: translateY(400px);
    }

    100% {
        transform: translateY(0);
    }
}