.section-heading>p {
    color: var(--dark-bg);
}

.products {
    color: var(--white);
    transition: all linear 1s;

    #product1,
    #product2 {
        height: 572px;
        z-index: 20;
        padding: 0 !important;
        margin: 0 !important;
    }

    .product-card {
        cursor: pointer;
        height: 100vh !important;
    }

    h5 {
        font-size: 50px;
    }

    h6 {
        font-size: 16px;
        color: var(--primary);
    }

    button {
        text-align: center;
        width: 163px;
        height: 52px;
        // background: linear-gradient(92.18deg, #F6907E -10.89%, #F7A325 83.72%);
        //background: var(--primary);
        margin-top: 20px;
        outline: none;
        border: none;
        background: none;
        opacity: 0;
        border: 2px solid #F7A325;
        color: var(--white);
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-decoration: none;
        cursor: pointer;
    }

    .product-card:hover {

        button {
            text-align: center;
            width: 163px;
            height: 52px;
            // background: linear-gradient(92.18deg, #F6907E -10.89%, #F7A325 83.72%);
            //background: var(--primary);
            margin-top: 20px;
            outline: none;
            border: none;
            background: none;
            opacity: 1;
            border: 2px solid #F7A325;
            color: var(--white);
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            text-decoration: none;
            cursor: pointer;
            animation: button linear .3s forwards;
        }

        button:hover {
            transition: all linear .5s;
            background: #F7A325;
        }
    }

    @keyframes button {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    #product1, #product2 {
        position: relative;
    }
    
    #product1 video, #product2 video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
    }

    #product1 .product-title, #product2 .product-title {
      z-index: 1;
      position: relative;
      text-align: center;
    }

   



}