<!-- <div class="container section-heading-dark text-center">
    <h2 data-aos="fade-up" data-aos-duration="600" style="padding: 25px 0 25px 0;">Products</h2>
</div> -->
<div class="products">
    <div class="row">
        <div class="col-12 col-lg-6 product-card d-flex justify-content-center align-items-center text-center"
            id="product1" routerLink="/aiqum">
            <video autoplay onmouseover="this.play()" onmouseout="this.pause();" [muted]="true" loop playsinline preload="auto" onloadedmetadata="this.muted = true" id="bgvid">
                <source src="/assets/videos/drl_bg.mp4" type="video/mp4">
            </video>
            <div class="product-title">
                <h5>AIQUM</h5>
                <button routerLink="/aiqum">Go to product</button>
            </div>
        </div>
        <div class="col-12 col-lg-6 product-card d-flex justify-content-center align-items-center text-center"
            id="product2" routerLink="/core-db">
            <video autoplay onmouseover="this.play()" onmouseout="this.pause();" [muted]="true" loop playsinline preload="auto" onloadedmetadata="this.muted = true" id="bgvid">
                <source src="/assets/videos/CoreDB_Bg.mp4" type="video/mp4">
            </video>
            <div class="product-title">
                <h5>CoreDB</h5>
                <button routerLink="/core-db">Go to Case</button>
            </div>
        </div>
    </div>
</div>