<div class="container section-heading-light text-center">
    <h2 data-aos="fade-up" data-aos-duration="600">Recent Products</h2>
    <p class="m-auto" data-aos="fade-up" data-aos-duration="600">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Nunc
        vulputate libero et velit interdum,
        ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia.</p>
</div>
<div class="products">
    <div class="row">
        <div class="col-12 col-lg-6 product-card d-flex justify-content-center align-items-center text-center" id="product1" routerLink="/aiqum">
            <div class="product-title">
                <h5>AIQUM</h5>
                <h6>29 October 2022</h6>
                <button routerLink="/aiqum">Go to product</button>
            </div>
        </div>
        <div class="col-12 col-lg-6 product-card d-flex justify-content-center align-items-center text-center" id="product2" routerLink="/aiqum">
            <div class="product-title">
                <h5>CoreDB</h5>
                <h6>16 April 2022</h6>
                <button>Go to product</button>
            </div>
        </div>
    </div>
</div>