.services {
    color: var(--white);

    >div>div {
        background: #1E1E1E;
        height: 490px;
        max-width: 420px;
        text-align: center;
        padding: 0 0 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4 {
            width: 100%;
            background: var(--primary);
            font-weight: 600;
            padding: 10px 0;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
        }

        h6 {
            max-width: 340px;
            height: 50px;
            font-style: italic;
            margin: 0 auto;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            opacity: 0.8;
        }

        p {
            max-width: 340px;
            margin: 0 auto;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            opacity: 0.8;
        }
    }
}

button {
    display: grid;
    margin: auto;
    margin-top: 50px;
    padding: 20px 48px;
    background: #1E1E1E;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primary);
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

button:hover {
    transition: all .5s linear;
    background: var(--primary);
    color: var(--dark-bg);
}

.accordion {
    button {
        font-size: 20px;
    }
    * {
        border-radius: 0;
        background: white;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}

.service-one, .service-two, .service-three {
    width: 100%;
    height: 170px;
}