<div class="container section-heading">
    <h2 data-aos="fade-up" data-aos-duration="600">What We Do.</h2>
    <p data-aos="fade-up" data-aos-duration="600">We assist our clients' digital and R&D strategies. We help companies
        to automize and optimize their business and procedures.</p>
</div>

<div class="container services">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="600">
            <img src="assets/analytics.svg" height="50px" alt="">
            <h4>Analytics and Insight</h4>
            <h6>Mastering data for competitive advantage</h6>
            <p>We analyze data to uncover new, game-changing insights for you to be bigger, better and different.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="600">
            <img src="assets/automation.svg" height="50px" alt="">
            <h4>Automation and AI</h4>
            <h6>Harvesting intelligence by maximizing custom-tailored AI</h6>
            <p>You may rethink processes, boost growth, and lead transformation with the help of our Automation and AI
                services.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="600">
            <img src="assets/enterprise.svg" height="50px" alt="">
            <h4>Enterprise Applications</h4>
            <h6>Developing bespoke digital solutions</h6>
            <p>Bring us your toughest challenge, we have the tools and teams to transform your needs into solutions.</p>
        </div>
    </div>
</div>