<video autoplay [muted]="true" loop playsinline preload="auto" onloadedmetadata="this.muted = true" id="bgvid">
    <source src="/assets/videos/drl_bg.mp4" type="video/mp4">
</video>
<section id="main" class="container">
    <div style="height: 10px;"></div>
    <div>
        <h3>Latest Product</h3>
        <h1 data-aos="fade-up" data-aos-duration="600"><span>AI</span>QUM</h1>
        <p data-aos="fade-up" data-aos-duration="600">Realtime Intelligent Sand Detection & Quantification Solution</p>
    </div>
    <div class="scroll-down" (click)="scrollToElement(aiqum)">
        <div class="d-flex flex-row justify-content-center">
            <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21.25 11V26C21.25 31.6609 16.6609 36.25 11 36.25C5.33908 36.25 0.75 31.6609 0.75 26V11C0.75 5.33908 5.33908 0.75 11 0.75C16.6609 0.75 21.25 5.33908 21.25 11Z"
                    stroke="#F7A325" stroke-width="1.5" />
                <circle cx="11" cy="10" r="5" fill="#F7A325" />
            </svg>
            <div>
                <h5>Learn more about AIQUM</h5>
                <h6>Scroll Down</h6>
            </div>
        </div>
    </div>
</section>
<div class="page-body-dark pt-4" #aiqum>
    <div class="container m-auto row aiqum">
        <div class="col-12 pt-5 pb-5">
            <h2 class="pb-3">Challenge</h2>
            <p>
                The precipitation and deposition of solids are a major challenge in the production of oil and gas. Flow
                assurance solids are formed because of unavoidable changes in temperature, pressure, and composition of
                the oil-gas-water flowstream, from reservoir conditions to processing conditions. The advent of subsea
                production and the increased exploitation of heavy crudes have made flow assurance issues dominant in
                ensuring efficient and safe exploitation of hydrocarbon assets.
                <br><br>
                AIQUM (standing for "AI" as artificial intelligence and "QUM" as "Sand" in Azerbaijani language) is a
                breakthrough surveillance system approach using real-time high frequency working technology, providing
                sand production alerts every millisecond. Using advanced ultrasonic and fiber-optic (i.e., Distributed
                Acoustic Sensing - DAS) sensors with AI algorithms, it provides operators with real-time data for solid
                production identification and quantification.
            </p>
        </div>
        <!-- <video class="col-12 col-lg-6 aiqum-video m-auto" autoplay [muted]="true" controls
        src="assets/videos/Drl_Lab_Assembly .webm" height="auto" style="cursor: pointer;"></video> -->
        <div class="col-12">
            <h2>Our Solution</h2>
            <p>
                This technology has been developed on a flow loop facility since the beginning of the project. The
                real-time outcome of this product installed on BP AGT's assets will step up safe operations and boost
                well production expectancy. Technology is scalable to any asset where solid production becomes a
                bottleneck for operation efficiency.
            </p>
        </div>

        <img class="concept-img col-12 col-lg-8 m-auto mt-5" src="assets/products/AIQUM_CONCEPT_SLIDE.gif" alt="">
    </div>
</div>
<div class="container work-with-us mb-5">
    <h3 class="text-center pt-5">Would you like to start a project with us <span>?</span></h3>
    <button (click)="openLg(content)">GET IN TOUCH</button>
</div>
<app-apply></app-apply>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Contact Us</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            Thank you for your interest in DRL. Please provide the following details along with your message so we may
            appropriately assist you.
        </p>
        <form action="" method="POST">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="First Name" required>
                    <div class="underline"></div>
                    <label for="">First Name</label>
                </div>
                <div class="input-data">
                    <input type="text" name="Last Name" required>
                    <div class="underline"></div>
                    <label for="">Last Name</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="email" name="Email" required>
                    <div class="underline"></div>
                    <label for="">Email Address</label>
                </div>
                <div class="input-data">
                    <input type="phone" name="phone" required>
                    <div class="underline"></div>
                    <label for="">Phone Number</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data textarea">
                    <textarea rows="8" cols="80" name="message" required></textarea>
                    <br />
                    <div class="underline"></div>
                    <label for="">Write your message</label>
                    <br />
                </div>
            </div>
            <div class="button-submit">
                <button><input class="submit" type="submit" value="Submit"></button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>