<video id="bgvid" autoplay [muted]="true" loop src="assets/drl_bg.webm"></video>
<section id="main" class="container">
    <div style="height: 10px;"></div>
    <div>
        <h3>Latest Product</h3>
        <h1 data-aos="fade-up" data-aos-duration="600"><span>AI</span>QUM</h1>
        <p data-aos="fade-up" data-aos-duration="600">Realtime Intelligent Sand Detection & Quantification Solution</p>
        <button data-aos="fade-up" data-aos-duration="600" (click)="scrollToElement(aiqum)">Learn More</button>
    </div>
    <div class="scroll-down" (click)="scrollToElement(aiqum)">
        <div class="d-flex flex-row justify-content-center">
            <svg width="22" height="37" viewBox="0 0 22 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21.25 11V26C21.25 31.6609 16.6609 36.25 11 36.25C5.33908 36.25 0.75 31.6609 0.75 26V11C0.75 5.33908 5.33908 0.75 11 0.75C16.6609 0.75 21.25 5.33908 21.25 11Z"
                    stroke="#F7A325" stroke-width="1.5" />
                <circle cx="11" cy="10" r="5" fill="#F7A325" />
            </svg>
            <div>
                <h5>Discover Our Products and Services</h5>
                <h6>Scroll Down</h6>
            </div>
        </div>
    </div>
</section>
<div class="page-body-dark pt-4" #aiqum>
    <div class="container m-auto row aiqum">
        <div class="col-12 p-5">
            <h2 class="pb-3">The Concept.</h2>
            <img class="concept-img" src="assets/aiqum1.png" alt="">
            <p>
                Sand Production affects 50 % of global wells production leading to negative impact on the field
                development economics a result of production losses followed by well remediation costs as well as
                re-drilling a new well in during severe sanding events.
                <br><br>
                AIQUM (standing for AI as artificial intelligence and QUM as Sand in Azerbaijani language) is about
                development of the cutting-edge technology aiming to change the energy industry. The key concept is
                based on application of AI technologies on Big Data for detection and quantification of sand production
                in wells. Novelty of the approach is about integration of Fiber Technology (i.e., Distributed Acoustic
                Sensing - DAS) with nonintrusive Active Sensors (aka Ultrasonic), which simultaneously allows to
                “listen” and send acoustic waves through the flowline for better representation of multiphase flow with
                solid particles. By this, we also aim to mitigate the challenges of existing sand detection solutions in
                low rate production wells.
                <br><br>
                This technology has been developing on flow loop facility manufactured since beginning of the project.
                The real-time outcome of this product installed on BP AGT's assets will step up safe operations and
                boost wells production expectancy. Technology is scalable to any asset where solids production becomes a
                bottleneck for efficient operations.
            </p>
        </div>
        <div class="col-12 p-5">
            <h2 class="text-center p-5">The Lab.</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
                tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.
                <br><br>
                Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate
                nisi. Integer in felis sed leo vestibulum venenatis.
            </p>
        </div>
        <video class="col-12" onmouseover="this.play()" onmouseout="this.pause();" [muted]="true"
            loop src="assets/drl_lab.mp4" width="100%" height="auto" style="cursor: pointer;"></video>
    </div>
</div>
<app-apply></app-apply>