<div class="page-header" id="careers-header">
    <div class="container">
        <h6>CAREERS</h6>
        <h1>Your Path to Digital Research Lab</h1>
    </div>
</div>
<div class="page-body-light">
    <div class="container heads-light" data-aos="fade-up" data-aos-duration="600">
        <h6 class="text-center" data-aos="fade-up" data-aos-duration="600">DRL</h6>
        <h2 class="text-center" data-aos="fade-up" data-aos-duration="600">Become a part of digital transformation</h2>
    </div>
    <div class="container row m-auto about-us" data-aos="fade-up" data-aos-duration="600">
        <p class="text-left col-lg-6 col-12 m-auto" style="font-size: 20px;">
            We aspire to deliver a formidable platform for professionals who will be our
            change agents-pushing the boundaries of technology for sustainable digital transformation in the country and
            personal growth. Unleashing human potential through technology for an inclusive and sustainable future
            requires a diverse
            group of thinkers, doers, and experts, working together. We invite you to be a part of this experience.
        </p>
        <img class="col-lg-6 col-12 mt-3 mb-3" src="assets/careers.jpg" alt="">
    </div>
    <div class="container heads-light" data-aos="fade-up" data-aos-duration="600">
        <h6 class="text-center">Why DRL</h6>
        <h2 class="text-center">Inspire our actions, shape our culture</h2>
    </div>
    <div class="container why-us row m-auto ">
        <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="600">
            <h4>Ambitions <span>and</span> Collaboration</h4>
            <p>We dream big and support each other to win. Moreover, we learned that adding joy in what we do and
                creating a friendly and encouraging working atmosphere makes our achievements even more valuable.</p>
        </div>
        <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="600">
            <h4>Transformation <span>and</span> Impact</h4>
            <p>We believe research-informed solutions can inspire change and make the world more equitable and
                sustainable. Everybody in our team plays a direct role in paradigm shift R&D in the country, making it a
                competitive driver in the digital transformation of the national economy.</p>
        </div>
        <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="600">
            <h4>Inspiration <span>and</span> Ownership</h4>
            <p>All our employees have freedom to take the initiative and own their particular area of responsibility,
                enabling them to grow and thrive. We value different perspectives and build on each other's ideas,
                knowledge, and experiences. </p>
        </div>
        <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="600">
            <h4>Clients <span>and</span> Employees</h4>
            <p>Starting from the customer's needs and working backwards to find solutions, we value our employees and
                offer competitive salary packages and other benefits.</p>
        </div>
    </div>
    <div class="careers">
        <div class="container heads-light" data-aos="fade-up" data-aos-duration="600">
            <h6 class="text-center">Vacancies</h6>
            <h2 class="text-center">We are hiring</h2>
            <p class="text-center m-auto">Open new horizons with DRL to shape the future of AI applications in the
                industry. We are always keen to meet fresh talents, so check out our vacancies.
            </p>
        </div>
        <div class="container m-auto vacancies">
            <div class="vacancy mb-5 m-auto" *ngFor="let career of careers" (click)="navigateTo(career.link)"
                data-aos="fade-up" data-aos-duration="600">
                <h4>{{ career.name }}</h4>
                <h6>{{ career.location }}</h6>
            </div>
        </div>
    </div>
    <button routerLink="/about">More about DRL</button>
</div>
