.vacancies {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 1400px) {

  .vacancies {
      grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 980px) {

    .vacancies {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 770px) {

    .vacancies {
        grid-template-columns: auto;
    }
}



.vacancy {
    width: 280px;
    background: #f4f4f4;
    padding: 50px 20px;
    cursor: pointer;
    transition: all 1s linear;

    h4 {
        color: var(--dark-bg);
        font-size: 18px;
        padding-bottom: 10px;
        white-space: pre-line;
        line-height: 25px;
    }

    h6 {
        color: var(--primary);
        font-size: 12px;
        font-weight: 600;
    }

    button {
        border: none;
        outline: none;
        padding: 10px 15px;
        background: var(--dark-bg);
        color: var(--primary);
        font-size: 14px;

        margin-top: 20px;
        font-weight: 600;
    }
}

.vacancy:hover {
    background: var(--dark-bg);
    h4 {
        color: var(--white);
    }
    h6 {
        color: var(--primary);
    }
}

.why-us {
    h4 {
        color: var(--dark-bg);
        font-weight: 600;

        span {
            color: var(--primary);
            font-weight: 500;
        }
    }
    div {
        padding-top: 30px
    }
}

button {
    display: grid;
    margin: auto;
    margin-top: 50px;
    padding: 20px 48px;
    background: #efefef;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primary);
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
}

button:hover {
    transition: all .2s linear;
    background: var(--dark-bg);
    color: var(--primary);
}
