.apply {
    background: linear-gradient(91.64deg, #0085FF -0.76%, #0085FF 99.99%, #40A4FF 100%);;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    color: var(--white);

    h1 {
        font-weight: 500;
        font-size: 50px;
        line-height: 61px;
        opacity: 0.8;
    }

    h2 {
        font-weight: 500;
        font-size: 55px;
        line-height: 67px;
        opacity: .8;

        a {
            color: var(--white);
            text-decoration: none;
        }
    }

    h2:hover {
        opacity: 1;
    }
}