<!-- <div class="apply">
    <div class="container">
        <h1>We are always looking for talented and bright
            brains.</h1>
        <h2><a routerLink="/careers">Work with us.</a></h2>
    </div>
</div> -->

<div class="work-with-us">
    <div class="container row m-auto">
        <div class="col-12 col-lg-8">
            <h1>We are always looking for talented and bright brains.</h1>
            <h2>Want to work with us?</h2>
        </div>
        <div class="col-12 col-lg-4 button">
            <div class="read-more" routerLink="/careers">
                <a>Apply Now</a>
                <div class="button-line"></div>
            </div>
        </div>
    </div>
</div>