/* .apply {
    background: linear-gradient(91.64deg, #0085FF -0.76%, #0085FF 99.99%, #40A4FF 100%);;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    color: var(--white);

    h1 {
        font-weight: 500;
        font-size: 50px;
        line-height: 61px;
        opacity: 0.8;
    }

    h2 {
        font-weight: 500;
        font-size: 55px;
        line-height: 67px;
        opacity: .8;

        a {
            color: var(--white);
            text-decoration: none;
        }
    }

    h2:hover {
        opacity: 1;
    }
} */

.work-with-us {
    background: #EFEFEF;
    padding: 50px;
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 14px;
        color: var(--primary);
        font-weight: 600;
    }
}

.button-line {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 30px;
    height: 3px;
    background-color: var(--primary) !important;
    transition: all .2s linear;
}

.read-more {
    cursor: pointer;
    a {
        color: var(--dark-bg);
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
    }
}

.read-more:hover {
    a {
        color: var(--primary);
    }

    .button-line {
        width: 80px;
    }
}

.button {
    display: flex;
    justify-content: center;
}

.breaking-line {
    height: 2px;
    background: #EFEFEF;
}

@media (max-width: 991px) {
    .button {
        justify-content: flex-start
    }
}