<div class="container section-heading-light text-center">
    <h2 data-aos="fade-up" data-aos-duration="600">Clients & Partners</h2>
    <p class="m-auto pb-0" data-aos="fade-up" data-aos-duration="600">Our customer's purpose is key to our growth.</p>
</div>
<div class="container row m-auto mb-5" data-aos="fade-up" data-aos-duration="600">
    <!-- <img class="col-6 col-md-4 col-lg-3" src="assets/sponsors/Socar.svg"> -->
    <img class="col-6 col-md-4 col-lg-4" src="assets/sponsors/BP.svg">
    <img class="col-6 col-md-4 col-lg-4" src="assets/sponsors/BSU.svg">
    <img class="col-6 col-md-4 col-lg-4" src="assets/sponsors/AIOC.svg">
</div>